*{
    box-sizing:border-box;
  }

  body{
    background: #ffffff;
    background: linear-gradient(to bottom, #ffffff 0%,#e1e8ed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e1e8ed',GradientType=0 );
        height: 100%;
            margin: 0;
            background-repeat: no-repeat;
            background-attachment: fixed;
      
    }

    .page-nf{
        width:100%;
        height:100vh;
        display: flex;
      flex-direction: column;
      }

    .go-homepage{
        color:#fff;
        background:green;
        border:none;
        padding:10px 50px;
        margin:30px 0;
        border-radius:30px;
        text-transform:capitalize;
        box-shadow: 0 10px 16px 1px rgba(174, 199, 251, 1);
      }

      @media (min-width:360px){
        h1{
          font-size:4.5em;
        }
        .go-homepage{
          margin-bottom:20px;
        }
      }
      
      @media (min-width:600px){
        .content{
        max-width:1000px;
        margin:0 auto;
      }
        .page-nf{
        height: initial;
        max-width:620px;
        margin:0 auto;
        margin-top:50px;
        box-shadow: 4px 8px 40px 8px rgba(88, 146, 255, 0.2);
      }
        
      }